{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Estante</title>
    <link rel="icon" type="image/png" href="{% static 'icone.png' %}">
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="menu">
          <div class="menu-icon" id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <ul class="menu-links">
            <li><a href="{% url 'livros' %}">Livros</a></li>
            <li><a href="{% url 'emprestimos' %}">Empréstimos</a></li>
            <li><a href="{% url 'multas' %}">Multas</a></li>
            <li><a href="{% url 'logout' %}">Sair</a></li>
          </ul>
        </div>

        <div class="logo">
            <a href="{% url 'livros' %}">
                <img src="{% static 'logoClara.svg' %}" alt="Logo">
            </a>
        </div>

        <div class="profile">
            <a href="{% url 'perfil' %}">
                <img src="{% static 'perfil.png' %}" alt="Perfil">
            </a>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>© Todos os direitos reservados</p>
    </footer>
</body>

</html>
