{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Estante</title>
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>

<body>
    <header class="header">
        <div class="menu">
          <div class="menu-icon" id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <ul class="menu-links">
            <li><a href="livros.html">Livros</a></li>
            <li><a href="emprestimos.html">Empréstimos</a></li>
            <li><a href="multas.html">Multas</a></li>
            <li><a href="logout.html">Sair</a></li>
          </ul>
        </div>

        <div class="logo">
            <img src="{% static 'logoClara.svg' %}" alt="Logo">
        </div>

        <div class="profile">
            <img src="{% static 'perfil.png' %}" alt="Perfil">
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>© Todos os direitos reservados</p>
    </footer>
</body>

</html>
