{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Estante</title>
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>
<body>
    <header class="header">
        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="logo">
            <img src="{% static 'logoClara.svg' %}" alt="Logo">
        </div>

        <div class="profile">
            <img src="{% static 'perfil.png' %}" alt="Perfil">
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>© Todos os direitos reservados</p>
    </footer>
</body>
</html>