{% extends 'headerFooter.html' %}
{% load static %}

{% block content %}
<main class="main-content"> 
    <h2>Livros</h2>

    <div class="search-container">
        <input 
            type="text" 
            id="searchInput"
            name="q" 
            placeholder="Pesquisar livro" 
            value="{{ query }}"
            hx-get="/livros"
            hx-target="#livros-grid"
            hx-trigger="keyup changed"
            hx-include="#searchInput"
        />
        <button class="search-btn" type="button">
            <img src="{% static 'iconePesquisa.svg' %}" alt="Ícone pesquisa">
        </button>
    </div>

    <div class="grid" id="livros-grid">
        {% include 'partials/lista_livros.html' %}
    </div>
</main> 
{% endblock %}