{% extends 'headerFooter.html' %}
{% load static %}

{% block content %}
<main class="main-content">
    <h2>Minhas multas</h2>
    <div class="grid">
        {% for multa in multas %}
        <div class="card">
            <div class="card-info">
                <p><strong>Código:</strong> {{ multa.id }}</p>
                <p><strong>Exemplar:</strong> {{ multa.emprestimo.exemplar }}</p>
                <p class="data-emprestimo" data-date={{ multa.emprestimo.data_emprestimo|date:'Y-m-d' }}>
                    <strong>Data empréstimo:</strong> {{ multa.emprestimo.data_emprestimo }}
                </p>
                <p><strong>Data devolução:</strong> {{ multa.emprestimo.data_devolucao }}</p>
                <p><strong>Valor:</strong> R$ {{ multa.valor|floatformat:2 }}</p>
                <p><strong>Status:</strong> {{ multa.status }}</p>
            </div>
            {% if multa.status == "EM_ABERTO" %}
                <button class="card-btn" onclick="pagarMulta({{multa.id}})">PAGAR</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if multas.has_other_pages %}
    <div class="pagination">
        {% if multas.has_previous %}
            <a href="?page=1">&laquo; Primeira</a>
            <a href="?page={{ multas.previous_page_number }}">Anterior</a>
        {% endif %}

        <span>Página {{ multas.number }} de {{ multas.paginator.num_pages }}</span>

        {% if multas.has_next %}
            <a href="?page={{ multas.next_page_number }}">Próxima</a>
            <a href="?page={{ multas.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</main>
<script>
    async function pagarMulta(multaId) {
        const csrfToken = "{{ csrf_token }}"; 
        
        const confirmacao = confirm("Quer mesmo pagar essa multa?");
        if (!confirmacao) return;

        const response = await fetch(`/multas/${multaId}/pagar/`, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
            },
        });

        if (response.ok) {
            alert("Multa paga com sucesso!");
            window.location.reload();
        } else {
            alert("Erro ao pagar a multa");
        }
    }
</script>
{% endblock %}